body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(225, 222, 228); */
}

/* Header */
header{
    background-color: aquamarine;
    color: white;
}

header figure {
    display: inline-block;
    margin-right: 0px;
    width: 20%;
    padding-top: 5px;
  }
  
  header figure img {
    width: 70px;
    height: 70px;
  }
  
  header figure h1{
    font-weight: lighter;
    display: inline-block;
    font-size: 2em;
    vertical-align: top;
    width: 140px;
  }
  
  header section {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-top: 25px;
    width: 70%;
  }

  header section input{
      width: 180px;
      height: 25px;
      padding-left: 20px;
  }

  header section button{
    background: rgb(0, 132, 255);
    color: white;
    border: none;
    height: 31px;
    margin-left: -5px;
  }

  header section a{
    display: flow-root;
    font-size: 15px;
    text-decoration: none;
}

/* SideBar */
aside{
    padding: 1em;
}
aside div h3{
    font-size: 20px;
    color: white;
    width: 100px;
    background-color: rgb(83, 83, 196);
    text-align: center;
    margin-left: 1em;
}

aside div a{
    font-size: 15px;
    color: tomato;
    margin-left: 40px;
}

/* Footer */
footer{
    background-color: rgb(236, 231, 231);
    font-weight: bolder;
    margin-bottom: 0;
    padding: 1em;
}

footer div{
    display: inline-block;
    margin-left: 1em;
    width: 40%;
    padding-bottom: 5px;
}

footer div a{
    text-decoration: none;
    font-size: 20px;
    color: tomato;
    display: block;
}

footer figure{
    display: inline-block;
    margin-right: 10%;
}

footer figure a img{
    width: 40px;
    height: 30px;
    display: inline;
}