body{
    margin: 0px;
    font-family: 'Comic Neue', cursive;
    /* background-color: rgb(225, 222, 228); */
}

/* Header */
header{
    background-color: rgb(92, 163, 245);
    color: white;
}

header figure {
    display: inline-block;
    margin-right: 0px;
    width: 20%;
    padding-top: 5px;
  }
  
  header figure img {
    width: 70px;
    height: 70px;
  }
  
  header figure h1{
    font-weight: bolder;
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
    width: 140px;
    font-family: 'Raleway', sans-serif;
  }
  
  header section {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-top: 25px;
    width: 70%;
    font-family: 'Raleway', sans-serif;
  }

  header section input{
      width: 180px;
      height: 25px;
      padding-left: 20px;
  }

  header section button{
    background: rgb(240, 75, 75);
    color: white;
    border: none;
    height: 31px;
    margin-left: -5px;
  }

  header section a{
    display: flow-root;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

/* SideBar */
aside{
    display: inline-block;
    padding: 1em;
    margin-top: -3em;
    margin-right: -3em;
    margin-bottom: 1em;
    width: 30%;
}
aside div h3{
    font-size: 20px;
    color: white;
    width: 100px;
    background-color: rgb(83, 83, 196);
    text-align: center;
    margin-left: 1em;
}

aside div a{
    font-size: 15px;
    color: tomato;
    margin-left: 40px;
}

/* main */
main{
    display: inline-block;
    width: 65%;
    float: right;
}

main section{
    z-index: 1;
}

main section figure{
    margin: 0px;
}

main section figure img{
    width: 100%;
    border-radius: 10px;
}

main div.activity{
    margin: 0 39% 0;
    z-index: 2;
    position: relative;
} 
main div h2{
    text-align: center;
    background-color: rgb(83, 83, 196);
    color: white;
    width: 140px;
    padding: 10px 0;
    margin-top: -35px;
}

main div.pay{
    text-align: center;
}

/* Footer */
footer{
    background-color: rgb(236, 231, 231);
    font-weight: bolder;
    margin-bottom: 0;
    padding: 1em;
}

footer section{
    display: inline-block;
    width: 70%;
}

footer div{
    display: inline-block;
    width: 15%;
    padding-bottom: 5px;
    margin-left: 100px;
}

footer section a{
    text-decoration: none;
    font-size: 20px;
    color: tomato;
    display: block;
}

footer div figure{
    display: inline-block;
    margin-right: -35px;
}

footer div figure a img{
    width: 40px;
    height: 30px;
    display: inline-block;
}

footer p{
    text-align: center;
    color: rgb(92, 163, 245);
    font-size: 12px;
    margin-top: -30px;
}